{% extends "student/base.html" %}
{% block title %}View Scholarships {% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    body {
        background-image: url('https://img.freepik.com/free-vector/happy-diverse-students-celebrating-graduation-from-school_74855-5853.jpg');
        background-repeat: no-repeat;
        /* background-position: center; */
        background-size: cover;
    }
</style>
{% endblock %}
{% block content %}
{% if student.is_approved == True: %}
<div class="container border border-1 rounded-2">

</div>
{% else: %}
<div class="container border border-1 rounded-2 p-5 text-center">
    <h3>Student not yet Approved! Please try again after some times</h3>
</div>
{% endif %}
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>
{% endblock %}