{% extends "admin/base.html" %}
{% block title %}Add Subjects{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
</style>
{% endblock %}
{% block content %}
<div class="container border border-1 rounded-2">
    <p class="fw-bold fs-4 mb-2 mt-2">Add Scholarship</p>
    <div>{% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning bg-warning text-light alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <div class="container">
        <form method="POST" action="{{ url_for('admin.addscholarship') }}">
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input name="name" type="text" class="form-control" id="name" required>
                    </div>
                </div>
                <div class="col">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="description" type="text" class="form-control" id="description" required></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-md btn-rounded btn-block mb-4">Add
                Scholarship</button>
        </form>
    </div>
</div>
<script type="text/javascript">
    // $(document).ready(function () {
    //     $('select').multiselect();
    // });  
</script>
{% endblock %}