<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login - Admin | E-Scholarship</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />

    <style type="text/css">
        body {
            background-image: url('/static/images/bg.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand ms-5" href="{{ url_for('admin.login') }}">
                <img src="{{ url_for('static',filename='images/logo.png') }}" alt="Virtual Learning Platform"
                    height="30" class="d-inline-block align-text-top">
                E-Scholarship
            </a>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col mt-5">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-warning bg-warning text-light alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            <div class="col-6">
                <div class="border border-1 rounded-5 mt-5 ps-5 pe-5 bg-white">
                    <p class="fs-4 fw-bold mt-4 mb-4">Admin Login</p>
                    <form method="POST" action="{{ url_for('admin.login') }}">
                        <div class="form-outline mb-4">
                            <label for="email" class="form-label">Email address</label>
                            <input name="email" type="email" class="form-control form-control-md" id="email"
                                placeholder="email@gmail.com" required>
                        </div>
                        <div class="form-outline mb-4">
                            <label for="password" class="form-label">Password</label>
                            <input name="password" type="password" class="form-control form-control-md" id="password"
                                required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-md btn-rounded btn-block mb-4">Login</button>
                    </form>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
</body>

</html>